/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

.header {
    background: linear-gradient(
        to right bottom, 
        rgba(55, 226, 69, 0.836), 
        rgba(5, 102, 13, 0.39)
        ), 
    url('../img//hero.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 20px;
}

.heading-primary {
    display: block;
    letter-spacing: 30px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.heading-secondary {
    letter-spacing: 17.5px;
    font-weight: 700;
    font-size: 15px;
}