/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}

.header {
    background: linear-gradient(
        to right bottom, 
        rgba(55, 226, 69, 0.836), 
        rgba(5, 102, 13, 0.39)
        ), 
    url('../img//hero.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 20px;
}

.heading {
    /* display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center; */

    position: absolute;
    /* below top and left reference with parent */
    top: 40%;
    left: 50%;
    /* translate is against itself's width and height */
    transform: translate(-50%, -50%);
}
.heading-primary {
    display: block;
    letter-spacing: 30px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    animation-name: moveToRight;
    animation-duration: 1.5s;
}

.heading-secondary {
    letter-spacing: 17.5px;
    font-weight: 700;
    font-size: 15px;
    animation: rotate 1.5s ease-out;
    display: block;
    /* animation-name: rightToLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; */
    
    /* 
    animation-delay: 0s;
    animation-iteration-count: 3;
     */
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        opacity: 0.5;
        transform: translateX(10px) rotate(10deg);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0) rotate(0);
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(180deg);
    }

    80% {
        opacity: 0.5;
        transform: rotate(-10deg);
    }
    
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}